*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: lightblue;
}
.Header{
    background-color: white;
    color: white;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.Header .logo-brand .logo-img img{
    width: 50px;
    height: 50px;
 
}
.Header .navbar{
    display: flex;
    gap: 20px;
    align-items: center;
}
.Header .navbar a{
    color: rgb(230, 90, 3);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
}
.Header .navbar a:hover{
    background-color: lightblue;
    color: navy;
    border-radius: 5px;
}


.welcome-section{
    background-image: url(images/hotel.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome-section .welcome-text{
    color: white;
    margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    animation: fadeIn 2s ease-in-out ;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }   
}
.welcome-section .welcome-text h1{
    margin-bottom: 20px;
    background: -webkit-linear-gradient(45deg,rgb(241, 228, 211),rgb(230, 90, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.welcome-section .welcome-text p{
    font-size: 24px;
    line-height: 1.5;
}
.welcome-section .welcome-text button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(231, 144, 91);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.welcome-section .welcome-text button:hover{
    background-color: rgb(230, 90, 3);
}
.welcome-section .welcome-cards-info{
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.welcome-section .welcome-cards-info .card{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 2s ease-in-out ;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }   
}
.welcome-section .welcome-cards-info .card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.welcome-section   .welcome-cards-info .card h2{
    font-size: 36px;
    color: rgb(230, 90, 3);
    margin-bottom: 10px;
}
.welcome-section .welcome-cards-info .card p{
    font-size: 18px;
    color: rgb(80, 80, 80);
}

.hotel-rooms{
    padding: 50px;
    background-color: white;
}
.hotel-rooms h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(45deg,rgb(237, 179, 103),rgb(230, 90, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.hotel-rooms .rooms-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    animation: spinIn 2s ease-in-out ;
}
@keyframes spinIn {
    from {
        opacity: 0;
        transform: rotateY(90deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}

.hotel-rooms .rooms-container .room-card{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.hotel-rooms .rooms-container .room-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hotel-rooms .rooms-container .room-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.hotel-rooms .rooms-container .room-card h3{
    font-size: 24px;
    margin: 15px;
    color: rgb(230, 90, 3);

    padding: 20px;
}
.hotel-rooms .rooms-container .room-card p{
    font-size: 16px;
    margin: 0 15px 15px 15px;
    color: rgb(80, 80, 80);
}
.hotel-rooms .rooms-container .room-card button{
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(231, 144, 91);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: calc(100% - 30px);
    text-align: center;
}
.hotel-rooms .rooms-container .room-card button:hover{
    background-color: rgb(230, 90, 3);
}

.promotion-rooms{
    padding: auto;
}
.promotion-rooms h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(45deg,rgb(237, 179, 103),rgb(230, 90, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.promotion-rooms .promotion-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
   
}
.promotion-rooms .promotion-container .promotion-card{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 65%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.promotion-rooms .promotion-container .promotion-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.promotion-rooms .promotion-container .promotion-card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.promotion-rooms .promotion-container .promotion-card h3{
    font-size: 24px;
    margin: 15px;
    color: rgb(230, 90, 3);
    text-align: center;
    padding: 20px;
}
.promotion-rooms .promotion-container .promotion-card p{
    font-size: 16px;
    margin: 0 15px 15px 15px;
    color: rgb(80, 80, 80);
    text-align: center;
}
.promotion-rooms .promotion-container .promotion-card .bagdes{
   
  position: relative;
    top: -480px;
    left: 20px;
   
}
.promotion-rooms .promotion-container .promotion-card .bagdes button{
    background-color: rgb(230, 90, 3);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}
.promotion-container .promotion-card .bagdes button:hover{
    background-color: rgb(200, 70, 0);
}


.promotion-rooms .promotion-container .promotion-card .icons img{
    width: 30px;
    height: 30px;
}
.promotion-rooms .promotion-container .promotion-card .icons span{
    font-size: 18px;
    color: rgb(80, 80, 80);
 
}
.promotion-rooms .promotion-container .promotion-card .icons .wifi{
    margin-left: 50px;
    position: relative;
    bottom: 0px;
    right: -300px;

}
.promotion-rooms .promotion-container .promotion-card .icons .wifi img{
    width: 30px;
    height: 30px;
}
.promotion-rooms .promotion-container .promotion-card .icons .wifi span{
    font-size: 18px;
    color: rgb(80, 80, 80);
 
}
.promotion-rooms .promotion-container .promotion-card .btn{
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(231, 144, 91);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: calc(100% - 30px);
    text-align: center;
}
.promotion-rooms .promotion-container .promotion-card .btn:hover{
    background-color: rgb(230, 90, 3);
}
.promotion-rooms .promotion-container .promition-related-card{
    width: 25%;
   
}
.promotion-rooms .promotion-container .promition-related-card .promotion-cards{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 330px;
   padding: 10px;
   margin: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    
}
.promotion-rooms .promotion-container .promition-related-card .promotion-cards:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.promotion-rooms .promotion-container .promition-related-card .promotion-cards img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.promotion-rooms .promotion-container .promition-related-card .promotion-cards h3{
    font-size: 24px;
    margin: 15px;
    color: rgb(230, 90, 3);
    text-align: center;
    padding: 20px;
}
.promotion-rooms .promotion-container .promition-related-card .promotion-cards p{
    font-size: 16px;
    margin: 0 15px 15px 15px;
    color: rgb(80, 80, 80);
    text-align: center;
}
.promotion-rooms .promotion-container .promition-related-card .promotion-cards button{
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(231, 144, 91);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: calc(100% - 30px);
    text-align: center;
   

   
}

/* footer */

.footer{
   background-color: white;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  
}
.footer .footer-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
}
.footer .footer-container .contact{
    margin: 20px;
    flex: 1;
   

}
.footer .footer-container .contact h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(230, 90, 3);
}
.footer .footer-container .contact p{
    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 1.5;
}
.footer .footer-container .social-media{
    margin: 20px;
    flex: 1;
}
.footer .footer-container .social-media h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(230, 90, 3);
}
.footer .footer-container .social-media a{
    margin-right: 15px;
    font-size: 24px;
    color: rgb(80, 80, 80);
    text-decoration: none;
}
.footer .footer-container .social-media a:hover{
    color: rgb(230, 90, 3);
}
.footer .footer-container .quicklinks{
    margin: 20px;
    flex: 1;
}
.footer .footer-container .quicklinks h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(230, 90, 3);
}
.footer .footer-container .quicklinks a{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(80, 80, 80);
    text-decoration: none;
}
.footer .footer-container .quicklinks a:hover{
    color: rgb(230, 90, 3);
}
.footer .footer-bottom{
    text-align: center;
    padding: 15px;
    background-color: rgb(230, 90, 3);
    color: white;
    font-size: 22px;
}

/* responsiveness */

@media screen  and (max-width: 768px){
 .Header{
    flex-direction: column;
    align-items: center;
 }
 .Header .navbar{
    flex-direction: column;
    gap: 10px;
 }
 .Header .navbar a{
    font-size: 18px;
    padding: 10px;
 }
 .welcome-section{
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
 }
 .welcome-section .welcome-text{
    margin: 0;
    width: 100%;
 }
 .welcome-section .welcome-text h1{
    font-size: 36px;
 }
 .welcome-section .welcome-cards-info{
    margin: 0px 0 0 0;
    flex-direction: column;
 }
 .promotion-rooms .promotion-container{
    flex-direction: column;
    align-items: center;
 }
  .promotion-rooms .promotion-container .promotion-card{
    width: 90%;
  }
 .promotion-rooms .promotion-container .promition-related-card{
    width: 100%;
 }

 .promotion-rooms .promotion-container .promition-related-card .promotion-cards{
    width: 90%;
 }
 .footer .footer-container{
    flex-direction: column;
    align-items: center;
 }
    
}